html {
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
  font-family: "PT Serif", serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #c9b5ab;
}
